table{
    width: 100%;
    background: linear-gradient(to bottom, rgb(114, 5, 5), #020202);
}

.edit > i{
    color: #d9cd26;
}

.delete > i{
    color: #e35e6b;
}
th
{
    font-family: 'Rockwell', Arial, sans-serif;
    font-size: 26px;
    color: #ffffff;
}
td{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}