<mat-card class="fundo1">
    <div class="cor-normal"> 
    <mat-card-title>Excluir Cliente</mat-card-title>
    </div>
    <div class="com-cor-diferente">
        <mat-card-title>Informações Pessoais</mat-card-title>
    </div>
    <form>
        <div class="form-grid"> 
        <mat-form-field appearance="fill">
            <input matInput placeholder="Nome" [value]="cliente.cliNome" name="cliNome" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="CPF" [value]="cliente.cliCpf" name="cliCpf" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Status" [value]="cliente.cliStatus" name="cliStatus" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker1" placeholder="Data Nascimento" [value]="cliente.dataNascimento" name="dataNascimento" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Estado Civil" [value]="cliente.estadoCivil" name="estadoCivil" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Profissão" [value]="cliente.profissao" name="proprofissao" disabled>
        </mat-form-field>

        <div class="com-cor-diferente">
         <mat-card-title>Contato</mat-card-title>
        </div>
        <form>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Celular" [value]="cliente.conCelular" name="conCelular" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Telefone Comercial" [value]="cliente.conTelefoneComercial" name="conTelefoneComercial" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="E-mail" [value]="cliente.conEmail" name="conEmail" disabled>
        </mat-form-field>
        </form>

        <div class="com-cor-diferente">
         <mat-card-title>Endereco</mat-card-title>
        </div>
        <form>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Rua" [value]="cliente.endRua" name="endRua" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Número" [value]="cliente.endNumero" name="endNumero" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Cidade" [value]="cliente.endCidade" name="endCidade" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Bairro" [value]="cliente.endBairro" name="endBairro" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Complemento" [value]="cliente.endComplemento" name="endComplemento" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Tipo de Residencia" [value]="cliente.endTipoResidencia" name="endTipoResidencia" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="CEP" [value]="cliente.endCep" name="endCep" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Estado" [value]="cliente.endEstado" name="endEstado" disabled>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="País" [value]="cliente.endPais" name="endPais" disabled>
        </mat-form-field>
        </form>
        
        </div>
    </form>

    <button mat-raised-button (click)="deleteCliente()" color="warn">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>